.footer_container{
    background-color: #325DA8;
    margin-top:120px;
    padding: 24px 0;
}
.footer_text{
    font-size:23px;
    text-align: center;
    margin: 0;
}
.button_text{
    font-size: 23px;
    font-weight: 600;
    padding: 15px 24px;
    text-align: center;
    border-radius:5px;
}
.app_text{
    font-size: 17px;
        text-align: center;
}
.copy{
    font-size: 20px;
    font-weight: 600;
    color:#325DA8;
    margin-left: 24px;
}

/* tablet */
@media screen and (max-width: 767px) {
}

/* mobile */
@media screen and (max-width: 479px) {
    .footer_container{
    background-color: #325DA8;
    margin-top:120px;
    padding: 24px 0;
}
.footer_text{
    font-size:12px;
    text-align: center;
    margin: 0;
}
.button_text{
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    text-align: center;
    border-radius:5px;
}
.app_text{
    font-size: 10px;
        text-align: center;
}
.copy{
    font-size: 10px;
    font-weight: 600;
    color:#325DA8;
    margin-left: 24px;
}

}
